<div class="collapse navbar-collapse  w-auto">
	<ul class="navbar-nav">
		<li class="nav-item" (click)="showTasksByCategory(null)">
			<a class="nav-link text-white" href="#" [class.active]="selectedCategory === null">
				<span>Все</span>
			</a>
		</li>
		<hr class="horizontal light mt-0 mb-2">
		<li class="nav-item" *ngFor="let category of categories" (click)="showTasksByCategory(category)">
			<a class="nav-link text-white" href="#" [class.active]="category == selectedCategory">
				<span class="nav-link-text ms-1">{{category.title}}</span>
			</a>
		</li>
	</ul>
</div>